<app-header />
<main>
  <ul id="users">
    @for (user of users; track user.id){
    <!-- <li *ngFor="let user of users" id="user-{{ user.id }}">
      <app-user [user]="user" (select)="onSelected(user.id)" />
    </li> -->
    <li>
      <app-user
        [user]="user"
        [selected]="selectedUserID === user.id"
        (select)="onSelected(user.id)"
      />
    </li>
    }
  </ul>
  @if( selectedUser ){
  <app-tasks
    add_task="addTask()"
    [id]="selectedUser.id"
    [name]="selectedUser.name"
  />
  <!-- <app-tasks *ngIf="selectedUser; else fallback" [name]="selectedUser!.name" /> -->
  }@else{
  <p id="fallback">Select A User</p>
  }
  <!-- <ng-template #fallback>
    <p id="fallback">Select A User</p>
  </ng-template> -->
</main>
